// Colors
@hail: #f0f0f0;
@sky: #4fc9eb;

// Main Style
body {
  color: @hail;
  text-align: center;
  background-color: @sky;
}

#cover {
  padding: 1em;
  margin: 4em 25em;
  border-color: @hail;
  border-style: solid;
  border-width: 0.2em;
}

// MOBILE VIEW
// Portrait View
@media only screen and (max-width: 1200px) {
  #cover {
    margin: 3em 20em;
  }
}

// Landscape View
@media only screen and (max-width: 600px) {
  #cover {
    margin: 1em 1.5em;
  }
}